<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
</head>
<body>
    <header>
        My Tech Blog
    </header>
    <nav> 
        <a href="/">Home</a>
        {{!-- if/else handlebars for login and logout based on user login status --}}
        {{#if logged_in}}
        <a href="/dashboard">Dashboard</a> |
        <button id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <br>
    <hr>
    <main>
        <div class="blog">
            {{{body}}}
        </div>
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>